body {
  background-color: black;
  background-image: url(/glistering.gif);
  color: #00ff80;
  font-family: Consolas, monospace;
  animation: shift 1s infinite linear;
  image-rendering: pixelated;
}

a {
  color: #00ff80;
}

#container {
  display: flex;
  min-height: 90vh;
  justify-content:center;
  align-items:center;
}

#a_message {
  display: block;
  background: #010101;
  width: max-content;
  margin: 32px;
  border: solid 2px #ff0080;
  text-align: center;
  padding: 16px;
  box-shadow: black 16px 16px 1px 0px;
  /*background-image: url(glistering_ani.gif);*/
}

#a_message p {
  text-align: justify;
}

@keyframes shift {
  from {background-position: 0x 0px;}
  to {background-position: 64px 64px;}
}


#button_bar {
  display: block;
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 0px;
  height: 31px;
  width: max-content;
}

#button_bar img {
  margin: 0px;
  margin-left: 4px;
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}

.rightside {
  height: 50vh;
  position: absolute;
  left: 4px;
  bottom: 4px;
}
